.header {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 15px;
    color: var(--color-white);
}

.header__img {
    width: 26px;
    height: 26px;
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.header__imgMouseOver {
    transform: rotate(90deg);
}

@media screen and (max-width: 900px) {
    .header__imgMouseOver {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 700px) {
    .header {
        margin-bottom: 30px;
    }
}