.todo {
    position: relative;
    height: 100%;
    transition: background-color 0.3s linear;
}

.todo__container {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 570px;
    transform: translateX(-50%);
}

.light {
    background-color: var(--color-bg-light);
}

.dark {
    background-color: var(--color-bg-dark);
}

@media screen and (max-width: 700px) {
    .todo__container {
        width: 470px;
    }
}

@media screen and (max-width: 550px) {
    .todo__container {
        width: 370px;
        top: 40px;
    }
}

@media screen and (max-width: 450px) {
    .todo__container {
        width: 320px;
        top: 40px;
    }
}