.todo {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.3s linear;
}

.todo__container {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 570px;
    transform: translateX(-50%);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

.light {
    background-color: var(--color-bg-light);
}

.dark {
    background-color: var(--color-bg-dark);
}