* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
display: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Variables */

:root {
  --color-white: #FFFFFF;
  --color-black: #494C6B;
  --color-bg-light: #FAFAFA;
  --color-bg-dark: #171823;
  --color-light-grey: #C8CBE7;
  --color-dark-grey: #5B5E7E;
  --color-blue: #3A7CFD;
  
  --color-input-bg-dark: #25273D;
  --color-checkbox-dark: #393A4B;

  --color-footer-dark: #5B5E7E;
  --color-footer-light: #9495A5;

  --border-radius: 5px;
  --default-background-color: var(--color-bg-light);
}

/* Fonts */

@font-face {
	font-family: 'Josefin-Sans';
	src: url('./assets/fonts/JosefinSans-Regular.eot');
	src: local('☺'), url('./assets/fonts/JosefinSans-Regular.woff') format('woff'), url('./assets/fonts/JosefinSans-Regular.ttf') format('truetype'), url('./assets/fonts/JosefinSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Josefin-Sans';
	src: url('./assets/fonts/JosefinSans-Bold.eot');
	src: local('☺'), url('./assets/fonts/JosefinSans-Bold.woff') format('woff'), url('./assets/fonts/JosefinSans-Bold.ttf') format('truetype'), url('./assets/fonts/JosefinSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Josefin-Sans', sans-serif;
  line-height: 1;
  color: var(--color-black);
  background-color: var(--default-background-color);
}

.todo {
  width: 570px;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

* {
	scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(37, 56, 97);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, .7);
}
::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, .7);	
}